<h2>Edit workout</h2>

<%= form_for @workout, url: url_for(controller: 'workouts', action: 'update') do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :sets %>
  <%= f.number_field :sets, min: 1, max: 10 %>

  <%= f.label :reps %>
  <%= f.number_field :reps, min: 1, max: 30 %> <br><br>

  <%= f.submit %>
<% end %>

<%= link_to 'Delete Workout', destroy_workout_path(@workout), method: :delete %>
