<!-- <h2 id=workout-plan-name><%#= @workout_plan.name %></h2><hr> -->

<div id="browse-table">
  <div class="row <%= muscle %>-group">
    <div class="container col-sm-3">
      <h2 id="table-muscle-header"><%#= muscle.capitalize %></h2><br>
    </div>

    <div class="col-sm-8">
      <table class="table table-hover clearfix">
        <thead>
          <tr>
            <th class="col-sm-5">Exercise</th>
            <th class="col-sm-3">Sets</th>
            <th class="col-sm-3">Reps</th>
          </tr>
        </thead>

        <tbody>
          <!-- <%# @workout_plan.muscle_group_by(muscle).each do |exercise| %> -->
            <%# exercise.workouts.each do |workout| %>
              <tr id="workout-rows" data-muscle-group-id="<%= exercise.muscle_group.id %>" data-workout-id="<%= workout.id %>">
                <td>
                  <span data-workout-name="<%= workout.id %>"><%#= workout.name %></span>
                </td>

                <td>
                  <span data-workout-sets="<%= workout.id %>"><%#= workout.sets %></span>
                </td>

                <td>
                  <span data-workout-reps="<%= workout.id %>"><%#= workout.reps %></span>
                </td>
              </tr>
            <%# end %>
          <%# end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
