<p>
  <%= label_tag 'Select the muscle group you would like to create a workout for:' %>
</p><br>
<p>

<% if @exercise.errors.any? %>
    <div class="field_with_errors">
    <% @exercise.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>
<% end %>

<%= f.collection_select :muscle_group_id, MuscleGroup.all, :id, :name, include_blank: 'Select' %>
</p><br>

<% if @exercise.errors.messages[:base].present? %>
  <div class="field_with_errors">
    <%= @exercise.errors.messages[:base].first %>
  </div><br>
<% end %>

<% 3.times do  %>
  <%= f.fields_for :workouts, @exercise.workouts.build do |workout_field| %>
    <%= workout_field.label 'Workout: ' %>
    <%= workout_field.text_field :name %>

    <%= workout_field.label 'Sets: ' %>
    <%= workout_field.number_field :sets, min: 1, max: 10 %>

    <%= workout_field.label 'Reps: ' %>
    <%= workout_field.number_field :reps, min: 1, max: 30 %><br><br>
  <% end %>
<% end %>
