<% exercise.workouts.each do |workout| %>
  <tr id="workout-rows" class="<%= 'completed' if workout.completed %>" data-muscle-group-id="<%= exercise.muscle_group.id %>" data-workout-id="<%= workout.id %>">

    <%= form_for [exercise.workout_plan, workout], class: 'exercise-form', remote: :true do |f| %>
      <td>
        <span data-workout-name="<%= workout.id %>"><%= workout.name %></span>
        <%= f.text_field :name, class: "form-control #{workout.id}-name" %>
      </td>

      <td>
        <span data-workout-sets="<%= workout.id %>"><%= workout.sets %></span>
        <%= f.text_field :sets, class: "form-control #{workout.id}-sets" %>
      </td>

      <td>
        <span data-workout-reps="<%= workout.id %>"><%= workout.reps %></span>
        <%= f.text_field :reps, class: "form-control #{workout.id}-reps" %>
      </td>
      <td>
        <%= f.check_box :completed, class: "#{workout.id}-finish", data: { workout_id: "#{workout.id}", workout_plan: "#{workout.exercise.workout_plan.id}" } %>
      </td>

      <%= f.submit style: 'display: none;' %>

      <% unless workout.completed %>
        <td><%= link_to 'Edit', edit_workout_plan_workout_path(workout.exercise.workout_plan, workout), class: "edit-link #{workout.id}-edit", remote: :true %></td>
        <td><%= link_to 'X', workout_plan_destroy_workout_path(workout.exercise.workout_plan, workout), data: {id: workout.id}, method: :delete, remote: :true, class: "#{workout.id}-delete delete-workout" %></td>
      <% else %>
        <!-- So the table border is the width of the row -->
        <td></td><td></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
