<div id="navabar">
  <ul>
    <% if user_signed_in? %>
      <% if current_user.name %>
        <li>Hello <%= current_user.name %></li>
      <% end %>
      <li><%= link_to "New Exercise", new_exercise_path %></li>
      <li><%= link_to "Workout Plans", new_workout_plan_path %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
      <li><%= link_to 'Sign in', new_user_session_path %></li>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <% end %>
  </ul>
</div>
