<!DOCTYPE html>
<html>
<head>
  <title>WorkoutTracker</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid" id="navbar-display">
    <% if user_signed_in? %>
      <%= render 'layouts/navbar' %>
    <% end %>
  </div>

  <div class="container">
    <%= render 'layouts/messages' unless !user_signed_in? %>
    <%= yield %>
  </div>
</body>
</html>
